body{
    background: #50514f;
}

 .btn-bg.Ocean .btn-group .Debris button {
  color: #fff;
  overflow: hidden;
  position: relative;
  border-radius: 5px;
  border: 5px solid #fff;
  background: transparent;
  transition: all 2s ease;
}
 .btn-bg.Ocean .btn-group .Debris button span {
  position: absolute;
  content: '';
  top: 1.5em;
  left: 50%;
  width: 20em;
  height: 20em;
  opacity: 0.5;
  background: #fff;
  margin-left: -10em;
  border-radius: 42.5%;
  transform-origin: 50% 50%;
  animation: wave 5s infinite linear;
  transition: all 2s ease, top 1.5s ease;
}
 .btn-bg.Ocean .btn-group .Debris button:hover {
  color: #50514f;
  border-color: #50514f;
  transition: all 2s ease;
}
 .btn-bg.Ocean .btn-group .Debris button:hover span {
  opacity: 1;
  top: 0.5em;
  background-color: #50514f;
  transition: all 2s ease, top 1.5s ease;
}

.btn-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
}
@media screen and (max-width: 480px) {
  .btn-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}
.btn {
  margin: 0 30px 30px 30px;
  display: block;
}

button {
  cursor: pointer;
  overflow: visible;
  outline: none;
  color: #fff;
  position: relative;
  letter-spacing: 0.1em;
  font-weight: 400;
  padding: 1rem 3rem 1rem 3rem;
  text-transform: uppercase;
  font-family: "Lato";
  font-size: 1.5em;
}
button a {
  text-decoration: none;
}
@-moz-keyframes wave {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(180deg) scale(0.975);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}
@-webkit-keyframes wave {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(180deg) scale(0.975);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}
@-o-keyframes wave {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(180deg) scale(0.975);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}
@keyframes wave {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(180deg) scale(0.975);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}

